@model MyMVCTest04.Models.客戶資料

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.客戶名稱)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.客戶名稱)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.統一編號)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.統一編號)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.電話)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.電話)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.地址)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.地址)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.客戶分類)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.客戶分類)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.是否已刪除)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.是否已刪除)
        </dd>

    </dl>
</div>

@Html.Partial("../客戶聯絡人/ListDetail", Model.客戶聯絡人.Where(p =>!p.是否已刪除) )

@*
    @{
        var data = Model.客戶聯絡人.ToArray();
    }

    @for (int i = 0; i < data.Length; i++)
    {
        <tr>
            <td>
                @Html.EditorFor(modelItem => data[i].職稱)
            </td>
            <td>
                @Html.DisplayFor(modelItem => data[i].姓名)
            </td>
            <td>
                @Html.DisplayFor(modelItem => data[i].Email)
            </td>
            <td>
                @Html.EditorFor(modelItem => data[i].手機)
            </td>
            <td>
                @Html.EditorFor(modelItem => data[i].電話)
            </td>
            <td>
                @Html.DisplayFor(modelItem => data[i].客戶資料.客戶名稱)
            </td>
        </tr>
    }
*@